.account-btn-div {
  position: absolute;
  top: 5.5rem;
  left: 0;
}

.account-header {
  margin: 5rem 0 0 2rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
}

.account-description {
  margin: 0 0 0 6rem;
  width: 30%;
  height: max-content;
  font-family: inherit;
  margin-top: 1rem;
}