.navbar-div {
    background-color: var(--mainBlue);
    text-transform: capitalize;
    padding: 1rem;
    width: 100%;

    display: grid;
    justify-items: center;
    align-content: center;
    align-items: center;

    grid-template-columns: repeat(3, 1fr);
}

/* @media (max-width: 500px) {
  .navbar-div {
    overflow: scroll;
  }
} */

.navbar-img-phone {
    margin: 0 4rem;
}

.navbar-img-products {
    text-decoration: none;
    color:white;
}

.navbar-img-cart-link {
    /* justify-self: end; */
    /* padding-right: 4rem; */
    text-decoration: none;
}

.navbar-img-cart-link:hover .navbar-img-cart-link-btn {
    background-color: var(--LightBlue);
    color: var(--mainBlue);
}

.navbar-img-cart-link-btn {
    display: flex;
    align-items: center;

    font-size: 1rem;
    font-family: inherit;
    outline: none;
    border-radius: .75rem;
    background-color: transparent;
    border: 1px solid var(--LightBlue);
    color: var(--LightBlue);
    transition: all .3s;
    text-transform: capitalize;
    cursor: pointer;
}

.svgCart {
    fill: var(--LightBlue);
    margin-right: .75rem;
    transition: all .3s;
}
.navbar-img-cart-link-btn:hover .svgCart{
    fill: var(--mainBlue);
}

.navbar-img-cart {
    padding-right: 1rem;
}

.navbar-middle-section {
  display: flex;

}

.user-first-initial {
  background-color: gold;
  color: white;
  text-align: center;
  padding: .5rem 1rem;
  border-radius: 50%;
  margin-left: 1rem;
  text-decoration: none;
}

.link-ebuy {
  text-decoration: none;
  background-color: white;
  border-radius: .75rem;
  width: max-content;
  cursor: pointer;
  padding: .25rem .5rem;
}

#e, #b, #u, #y {
  font-family: 'Architects Daughter', cursive;
  margin: 0 .25rem;
  font-size: 1.75rem;
  font-weight: bolder;
}

#e {
  color: var(--redish);
  text-transform: lowercase;
}

#b {
  color: var(--blueish);
}

#u {
  color: var(--yellowish);
}

#y {
  color: var(--greenish);
}