.modal-background {
  background-color: rgba(0, 0, 0, 0.25);
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 10;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-card {
  text-align: center;
  width: 25rem;
  height: max-content;
  padding: 1rem;
  background-color: white;
  box-shadow: inset -.25rem .25rem 1rem rgba(0, 0, 0, 0.5),
              inset .25rem -.25rem 1rem rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 20;

  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.modal-img {
  height: 20rem;
}