:root{
  --redish: red;
  --blueish: blue;
  --yellowish: rgb(223, 177, 93);
  --greenish: green;
  --mainBlue: rgb(0, 78, 167);
  --LightBlue: rgb(0, 119, 255);
  --mainWhite: rgb(240, 240, 240);
  --lightWhite: white;
  --mainDark: rgb(78, 76, 76);
  --mainYellow:rgb(216, 202, 79);
  --fontFamilyOne: 'Architects Daughter', cursive;
}

html {
  width: 100%;
  background-color: var(--mainWhite);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.text-title {
  font-family: var(--fontFamilyOne);
  letter-spacing: .3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--LightBlue);
}

.App {
  background-color: var(--mainWhite);
  position: relative;
  margin-bottom: 2rem;
}


@media (max-width: 500px) {
  .App {
    overflow: scroll;
  }
}