.modal-background {
  background-color: rgba(0, 0, 0, 0.35);
  position: relative;
  z-index: 3;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-card {
  text-align: center;
  width: 25rem;
  height: max-content;
  padding: 1rem;
  background-color: white;
  box-shadow: inset -.25rem .25rem .75rem rgba(0, 0, 0, 0.5),
              inset .25rem -.25rem .75rem rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 50;

  top: 5rem;
  left: 50%;
  transform: translate(-50%, 0%);
}

.modal-img {
  height: 20rem;
}

.modal-title,
.modal-price {
  margin: .5rem 0;
}